{% extends 'layouts/admin.html.twig' %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Num. Comments</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
            <tr>
                <td>{{ topic.title }}</td>
                <td>{{ topic.category.name }}</td>
                <td>{{ topic.comments|length }}</td>
                <td>{{ topic.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <a class="button is-primary is-small" href="{{ path('topic_view', { topic: topic.id }) }}">
                        <span class="icon is-small">
                          <i class="fa fa-eye"></i>
                        </span>
                        <span>View</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}