{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="block">
        <a class="button is-primary" href="{{ path('topic_edit', { id: topic.id }) }}">Edit Topic</a>
        <a class="button is-primary" href="{{ path('topic_comment_add', { topic: topic.id }) }}">Add Comment</a>
    </div>

    <table class="table is-bordered thread">
        <tbody>
        {% for comment in comments %}
            <tr>
                <td class="author">
                    <div class="username">
                        {{ comment.user.username }}
                    </div>
                    <div class="info">
                        <b>Registered on</b> {{ comment.user.createdAt|date('d/m/Y H:i') }}
                    </div>
                </td>
                <td class="comment">
                    <div class="date">
                        {{ comment.updatedAt|date('d/m/Y H:i') }}
                    </div>
                    <div class="content">
                        {{ comment.message }}
                    </div>
                    <div class="actions">
                        {% if app.user != null and app.user.id == comment.user.id %}
                            <a class="button is-primary is-small" href="{{ path('topic_comment_edit', { id: comment.id }) }}">
                                <span class="icon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <span>Edit</span>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'partials/_pagination.html.twig' with {
        paginator: comments,
        currentPage: currentPage,
        itemsPage: maxCommentsPage,
        uri: path('topic_view', { topic: topic.id }) ~ '?page='
    } only %}
{% endblock %}